import React from 'react';
import { useTranslation } from 'next-i18next';

interface Props {}

const {{ properCase componentName }}: React.FC<Props> = () => {
  const { t } = useTranslation();

  return <div>{{ properCase componentName }}</div>;
};

export default {{ properCase componentName }};
